<section class="blog py-md-60 padding-top-150 padding-bottom-150">

    {% if posts | length > 0 %}
        <div class="container">
            <!-- Heading -->
            <div class="heading text-center">
                <h3>Faites un tour sur notre <span>Blog</span></h3>
                <hr>
                <p>The Love Boat soon will be making another run the Love Boat promises something for everyone
                    Today still wanted by the government they survive as soldiers of fortune.</p>
            </div>

            <!-- Row -->
            <div class="row">
                {% for post in posts %}
                    <!-- BLOG -->
                    <div class="col-md-6">
                        {% include 'layouts/global_partials/_post_preview_card.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="heading text-center">
            <h3>Aucune <span>Publication </span> Pour le moment</h3>
            <hr>
            <p>Revenez plus tard</p>
        </div>
    {% endif %}
</section>