<!-- SUB FOOTER -->
<section class="sub-footer">
    <div class="container">
        <ul class="row no-margin">
            <li class="col-sm-4">
                <div class="icon"> <i class="fa fa-phone"></i> </div>
                <h6>Assistance 24-7</h6>
                <p>+237 ... ... ... </p>
            </li>
            <li class="col-sm-4">
                <div class="icon"> <i class="fa fa-envelope-o"></i> </div>
                <h6>Par Email</h6>
                <p>contact@a-g-engineering.com </p>
            </li>
            <li class="col-sm-4">
                <div class="icon"> <i class="fa fa-clock-o"></i> </div>
                <h6>Horaires</h6>
                <p>Jours Ouvrables : 08.00 - 17.00 </p>
            </li>
        </ul>
    </div>
</section>

<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">

            <!-- ABOUT -->
            <div class="col-md-3"> <img class="margin-bottom-20" src="{{ asset('logos/age-logo-bw.png') }}" alt="Logo AG Engineering" >
                <p>At vero eos et accusamus et iusto elity agnissmos ducimus os quidtiis praesetium ptatum mole deeniti .</p>
                <ul class="social">
                    <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#."><i class="fa fa-google"></i></a></li>
                    <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

            <!-- Get in touch -->
            <div class="col-md-3">
                <h6>Localisation</h6>
                <ul class="row location">
                    <li class="col-xs-12">
                        <p><i class="fa fa-map-marker"></i> Yaounde, Cameroun</p>
                    </li>
                    <li class="col-xs-12">
                        <p><i class="fa fa-phone"></i> Téléphone : +237 ... ... ... </p>
                    </li>
                    <li class="col-xs-12">
                        <p><i class="fa fa-envelope-o"></i> Ecrivez-nous : contact@a-g-engineering.com</p>
                    </li>
                </ul>
            </div>

            <!-- Business Hours -->
            <div class="col-md-3">
                <h6>Horaires</h6>
                <ul class="row location">
                    <li class="col-xs-12">
                        <p> Jours Ouvrables : 8h - 17h</p>
                    </li>
                    <li class="col-xs-12">
                        <p>Samedi : 10h - 16h</p>
                    </li>
                    <li class="col-xs-12">
                        <p>Dimanche : Fermé</p>
                    </li>
                    <li class="col-xs-12">
                        <p>Assistance 24/7, Tous les jours </p>
                    </li>
                </ul>
            </div>

            <!-- News Letter -->
            <div class="col-md-3">
                <h6>News Letter</h6>
                <form>
                    <input type="email" placeholder="Entrez votre email" required>
                    <button type="submit"><i class="fa fa-long-arrow-right"></i></button>
                </form>
                <p>Inscrivez-vous à notre Newsletter pour etre informer des offres récentes.</p>
            </div>
        </div>
    </div>
</footer>

<!-- RIGHTS -->
<div class="rights">
    <p> Copyright &copy; <script>document.write(new Date().getFullYear());</script> A.G.E, All Rights Reserved </p>
</div>