{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}


    <!-- SUB BANNER -->
    <section class="sub-bnr">
        <div class="position-center-center">
            <div class="container">
                <h4>BLOG</h4>
                <hr class="main">
                <!-- Breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="active">BLOG</li>
                </ol>
            </div>
        </div>
        <div class="scroll"><a href="#content" class="go-down"></a></div>
    </section>

    <!-- Content -->
    <div id="content">

        <!-- LATEST WORK -->
        <section class="padding-top-150 padding-bottom-150">
            <div class="container">


                <!-- NEWS -->
                <div class="blog blog-post">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="heading text-left">
                                <h3> De notre <span>Blog</span></h3>
                                <hr>
                            </div>

                            {% if paginatedPosts | length > 0 %}
                                <!-- NEWS -->
                                {% for post in paginatedPosts %}
                                    {% include 'layouts/global_partials/_post_preview_card.html.twig' %}
                                {% endfor %}

                            {% endif %}

                            <!-- Pagination -->
                            <div class="blog-pagination mt-5">
                                {{ knp_pagination_render(paginatedPosts) }}
                            </div>


                        </div>


                        <!--======= Side Bar =========-->
                        <div class="col-md-3">
                            <div class="side-bar">

                                <!--======= Search =========-->
                                <div class="search">
                                    <input class="form-control" type="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>

                                <!--======= Categories =========-->
                                <h5 class="side-tittle margin-top-50">Post Category </h5>
                                <hr class="main">
                                <ul class="cate">
                                    <li><a href="#.">Building plans </a></li>
                                    <li><a href="#.">Architecture </a></li>
                                    <li><a href="#.">Workspace Interior </a></li>
                                    <li><a href="#.">Building Renovation </a></li>
                                    <li><a href="#.">Exterior Design </a></li>
                                    <li><a href="#.">Building Consultancy </a></li>

                                </ul>

                                <!--======= Recent Posts =========-->
                                <h5 class="side-tittle margin-top-50">Recent Posts </h5>
                                <hr class="main">
                                <ul class="papu-post">
                                    <li class="media">
                                        <div class="media-left"><a href="#"> <img class="media-object" src="images/img-1.jpg" alt=""></a></div>
                                        <div class="media-body"><a class="media-heading" href="#.">Like Robinson Crusoe it is Primitive as can be </a> <span>Jul 18, 2015</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left"><a href="#"> <img class="media-object" src="images/img-2.jpg" alt=""></a></div>
                                        <div class="media-body"><a class="media-heading" href="#.">Like Robinson Crusoe it is Primitive as can be</a> <span>Jul 18, 2015</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left"><a href="#"> <img class="media-object" src="images/img-3.jpg" alt=""></a></div>
                                        <div class="media-body"><a class="media-heading" href="#.">Like Robinson Crusoe it is Primitive as can be </a> <span>Jul 18, 2015</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left"><a href="#"> <img class="media-object" src="images/img-4.jpg" alt=""></a></div>
                                        <div class="media-body"><a class="media-heading" href="#.">Like Robinson Crusoe it is Primitive as can be </a> <span>Jul 18, 2015</span>
                                        </div>
                                    </li>
                                </ul>


                                <!--======= Archives =========-->
                                <h5 class="side-tittle margin-top-50">Archives </h5>
                                <hr class="main">
                                <ul class="cate">
                                    <li><a href="#.">June <span>10</span></a></li>
                                    <li><a href="#.">May <span>21</span></a></li>
                                    <li><a href="#.">April <span>58</span></a></li>
                                    <li><a href="#.">March 2015 <span>25</span></a></li>
                                </ul>
                                <h5 class="side-tittle margin-top-50">Tags </h5>
                                <hr class="main">
                                <ul class="tags">
                                    <li><a href="#.">Amazing </a></li>
                                    <li><a href="#.">Envato </a></li>
                                    <li><a href="#.">Themes </a></li>
                                    <li><a href="#.">Responsiveness </a></li>
                                    <li><a href="#.">SEO </a></li>
                                    <li><a href="#.">Mobile </a></li>
                                    <li><a href="#.">IOS </a></li>
                                    <li><a href="#.">Design </a></li>
                                    <li><a href="#.">Flat </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
